.login-main-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /*Calculating the height of the viewport minus the height of the navbar and footer*/
    width: 100%;
    padding: 0px 20px;
}

.login-form {
    appearance: none;
}